{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" action="">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        
        <div>
            <input type="checkbox" name="remember" id="remember" style="width: auto;">
            <label for="remember" style="display: inline; font-weight: normal;">Remember Me</label>
        </div>
        
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}